
.conteiner-fluid { 
    background-color: black;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    
}

.colorletra {
    color: aliceblue!important;
    font-weight: bold !important;
    font-size: large;
    padding-left: 300px;
    padding-right: 300px;

}
.colorfondo {
    background-color: rgb(204, 177, 141);
}

#navbarNavAltMarkup {
    display: flex;
    justify-content: flex-end;
}

.btn1 {
    background-color: rgba(200, 160, 105, 0.769);
    color: aliceblue;
    font-weight: bold;
    font-size: larger;
    border-color: bisque;
    border-style: double;
    border-radius: 50px;
}
.presentacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    color: antiquewhite ;
    font-weight: bold;
    margin-top: 0;
    width: 100%;
    height: 30%;
    border: solid;
    box-sizing: border-box;
    padding-top: 100px;
    
}

.titulo {
    color:  rgb(218, 126, 61);
    padding: 50px;
    justify-content: center;
    text-align: center;
   
}

.item1 {
    text-align: center;
    color: darkgray;
    justify-content: center;
    padding: 30px;
    font-size: 25px;

   
}

.item2 {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    color:darksalmon;
    /* padding-bottom: 10px; */
    font-size: large;
}

#mail {
    padding-left:30px;
    padding-top: 30px;
}
.btn2 {
    margin-left: 20px;
    background-color: darksalmon;
    color: aliceblue;
    border-radius:30px;
    border: none;
}

#mail {
    padding-left: 600px;
}

.piemail {
    padding-left: 600px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: small;
    color: darksalmon;

}
.imagen1 {
    width: 50%;
    display: block;
    margin: auto;
    
}
    
   
   

.publicidad {
    width: 100%;
    height: 40%;
    background-color:rgb(204, 177, 141) ;
    box-sizing: border-box;
   
    
}


.cabecera {
    text-align: center;
    font-size: 200cm;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(120, 47, 47);
    padding-top: 50px;
    padding-bottom: 50px;
}

.conteinertarejetas {
    width: 40%;
    box-sizing: border-box;
    

}

.tarjeta1, .tarjeta2, .tarjeta3, .tarjeta4,.tarjeta5, .tarejeta6 {
    background-color: aliceblue;
    box-shadow: 0 0 5px #000;
    border-radius: 10px;
    text-align: justify;
    padding: 60px;
    margin: 10px;
}

.tarjeta1, .tarjeta3, .tarjeta5 {
    background-color: beige;
}

.tarjeta2, .tarjeta4, .tarjeta4 {
    background-color: blanchedalmond;
}

.imagen2 {
    display: block;
    margin: auto;
    max-width: 80%;
}
 

.tarjeta1 {
    width: 45%;
   
}

.tarjeta2 {
    width: 45%;
   
}

.tarjeta3 {
    width: 45%;
   
}

.tarjeta4 {
    width: 45%;
   
}

.tarjeta5 {
    width: 45%;
   
}

.tarejeta6 {
    width: 45%;
   
}

.titulotarjeta1, .titulotarjeta3, .titulotarjeta5 {
    text-align: center;
    color: burlywood;
    font-weight: bold;
    padding-bottom: 30px;
}

.titulotarjeta2, .titulotarjeta4, .titulotarjeta6 {
    text-align: center;
    color: chocolate;
    font-weight: bold;
    padding-bottom: 30px;
}

.textprecio1 {
    color: burlywood;
    font-weight: bold;
    font-size: large;
}

.textprecio2 {
    color: chocolate;
    font-weight: bold;
    font-size: large;
}
.btn {
    background-color: black;
    text-transform: uppercase;
    color: #fff;
    max-width: 30%;
    margin-top: 20px;
    margin-left: 150px;
    padding: 20px 20px;
    border-radius: 50px;
    border:0;
    font-weight: bold;
    font-size: large;
    transition: 0.5s all;
}
.btn:hover {
    transform:scale(102%) ;
}



.extra {
    background-color: antiquewhite;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    padding-top: 50px;
    padding-left: 50px;
    box-sizing: border-box;
   
}

.imagen3 {
    display: block;
    height: 80%;
    margin-top: 20px;
}

.titulopromocion {
    text-align: center;
    color:rgb(218, 126, 61) ;
    padding-bottom: 30px;
    font-weight: bold;

}
.subtitulopromocion {
    font-weight: bold;
    color: rgb(218, 126, 61) ;
}
.itempromocion{
    text-align: justify;
    width: 50%;
    margin:20px;
    padding: 10px;
    color: burlywood;
    font-weight: bold;
    font-size: large;
}
#nombre {
    margin-bottom: 10px;
}

#apellido {
    margin-bottom: 10px;
}

#email {
    margin-bottom: 10px;
}

.submit {
    background-color:rgb(218, 126, 61);
    color: antiquewhite;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;

}

.conteinerpie {
    background-color: peachpuff;
    color: rgb(136, 55, 55);
    width: 100%;
    height: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    box-sizing: border-box;  
    display: flex; 
    flex-direction: row;
    justify-content: space-around;

   
}

.imagenpie {
    margin-bottom: 30px;

    
  
}

.listapie {
    color:rgb(136, 55, 55); 
    width: 20%;
}
.btnicono {
    margin-top: 30px;
    border: none;
    background-color:peachpuff ;
    font-size: 50px;
    color: rgb(136, 55, 55);
}
.titulopie1 {
    width: 20%;
    
    
    
}

.titulopie2 {
    width: 20%;
    
    
    
}

span {
    padding-bottom: 30px;
}

@media screen and (max-width:600px) {
    body {
        width: 100%;
    }

   .conteinertarejetas {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
   }
} 
    
 .extras {
    display:flex ;
    flex-direction: column;
 }