
.colorletra {
    color: aliceblue;
    font-size: large;  

}
.colorfondo {
    background-color: rgb(204, 177, 141);
}


.btn1 {
    background-color: rgba(200, 160, 105, 0.769);
    color: aliceblue;
    font-size: larger;
    border-color:  rgba(200, 160, 105, 0.769);
    border-style: solid;
    border-radius: 50px;

}
.presentacion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    color: antiquewhite ;

}

.titulo {
    color:  rgb(218, 126, 61);
    padding: 50px;
    justify-content: center;
    text-align: center;
   
}

.item1 {
    text-align: center;
    color: darkgray;
    justify-content: center;
    padding: 30px;
    font-size: 25px;

   
}

.item2 {
    text-align:center;
    padding-top: 50px;
    color:darksalmon;
    font-size: 20px;
}


.btn2 {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 50%;
    background-color: darksalmon;
    color: aliceblue;
    border-radius:30px;
    border: none;
}


.imagen1 {
    width: 50%;
    display: block;
    margin: auto;
    
}
    

.publicidad {
    background-color:rgb(204, 177, 141) ;
      
}

.cabecera {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(120, 47, 47);

}

.conteinertarejetas {
    width: 40%;
    box-sizing: border-box;
    

}

.tarjeta1, .tarjeta2, .tarjeta3, .tarjeta4,.tarjeta5, .tarejeta6 {
    border-radius: 10px;
    text-align: justify;
    padding: 60px;
    margin: 10px;
}

.tarjeta1, .tarjeta3, .tarjeta5 {
    background-color: beige;
    color: burlywood;
}

.tarjeta2, .tarjeta4, .tarjeta4 {
    background-color: blanchedalmond;
    color:chocolate;
}

.imagen2 {
    display: block;
    max-width: 80%;
}
 

.tarjetas {
    width: 45%;
   
}

.titulotarjeta1, .titulotarjeta3, .titulotarjeta5 {
    text-align: center;
    color: burlywood;
}

.titulotarjeta2, .titulotarjeta4, .titulotarjeta6 {
    text-align: center;
    color: chocolate;
   
}

.textprecio1 {
    color: burlywood;
    font-size: 20px;

}

.textprecio2 {
    color: chocolate;
    font-size: 20px;

}

.extra {
    background-color: antiquewhite;
    justify-content: space-around;
    display: flex;
    flex-direction: row;

   
}

.imagen3 {
    display: block;
    height: 80%;
}

.titulopromocion {
    text-align: center;
    color: rgb(136, 55, 55);

}
.subtitulopromocion {
    color:  rgb(136, 55, 55);
}
.parrafotarjetas {
    color:darkgray; ;
}

.itempromocion{
    text-align: justify;
    width: 40%;
    margin:20px;
    padding: 10px;
    color:rgb(218, 126, 61);
    font-size: large;
}

.input {
    max-width: 300px;
}
.submit {
    background-color:rgb(218, 126, 61);
    color: antiquewhite;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;

}


.conteinerpie {
    background-color: peachpuff;
    color: rgb(136, 55, 55);
    box-sizing: border-box;  
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
 
}

.listapie {
    color:rgb(136, 55, 55); 
    width: 20%;
}
.btnicono {
    border: none;
    background-color:peachpuff ;
    font-size: 50px;
    color: rgb(136, 55, 55);
}
.titulopie {
    width: 20%; 
    
}


@media screen and (max-width:600px) {
    body {
        width: 100%;
    }

    .btn2 {
        max-width: 20%;
    }

    .item1{
        font-size: 20px;
    }

    .item2 {
        font-size: 15px;
        max-width: 80%;
        text-align: center;
        padding-left: 20px;
    }

    .piemail{
        font-size: xx-small;
    }
    .imagen1 {
        max-width: 250px;
        max-height: 200px;
    }
   .conteinertarejetas {
    max-width: 100%;
   }

   .tarjetas {
    width: 90%;
    font-size: 12px;
   }

   .titulotarjeta1, .titulotarjeta2, .titulotarjeta3, .titulotarjeta4, .titulotarjeta5, .titulotarjeta6{
    font-size: 18px;
   }
   
   .textprecio1, .textprecio2 {
    font-size: 18px;
   }
   .btn{
    margin-left: 0;
   }
   .conteinerpie {
    display: flex;
    flex-direction: column;
 }

 .extra {
    display:flex ;
    flex-direction: column;
    max-width: 100%;
 }

.itempromocion {
    width: 80%;
}
.imagen3 {
    max-width: 300px;
    margin-left: 30px;
    
}
.input {
    max-width: 200px;
}
} 
    
@media screen and (max-width:850px){
    body {
        width: 100%;
    }
    .tarjetas {
        width: 90%;
        font-size: 12px;
       }
    
       .titulotarjeta1, .titulotarjeta2, .titulotarjeta3, .titulotarjeta4, .titulotarjeta5, .titulotarjeta6{
        font-size: 20px;
       }
       
       .textprecio1, .textprecio2 {
        font-size: 18px;
       }

    .extra {
    display:flex ;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    }

    .itempromocion {
        width: 80%;
    }

    .imagen3 {
        margin-left: 30px;
    }

    .conteinerpie {
        display: flex;
        flex-direction: column;
    
}

}

@media screen and (max-width:990px) {
    .extra {
        display:flex ;
        flex-direction: column;
        max-width: 100%;
        justify-content: center;
}

.imagen3 {
    margin-left: 30px;
}

.conteinerpie {
    display: flex;
    flex-direction: column;
}
}